:root{
  --background-color: #010411;
  --element-color-one: #dc2f02;
  --element-color-two: #d00000;
  --text-color: #f9eded;
  --secondary-color: #686868;
}

* {
  color: var(--text-color);
  font-family: 'Ubuntu', sans-serif;
  
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--element-color-one);
  /* background-image: linear-gradient(to bottom, #ff00b8, #8c00ff); */
}

a.primary-btn{
  height: 36px;
  width: 140px;
  text-decoration: none;
  padding: 4px 18px;
}

a.primary-btn:hover{
  height: 36px;
  width: 140px;

  padding: 4px 18px;
  border-color: var(--text-color);
}

header { 
  background-color: var(--background-color);
  width: 100%;
  height: 64px;
  z-index: 100;
  border-bottom: 1px solid var(--secondary-color);
}

nav{
  height: 100%;
}

nav ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0;
}

li{
  list-style: none;
}

li a:hover, li .a-active{
 color: white;
 text-decoration: none;
 border-bottom: 3px solid var(--element-color-one);
}

li a{
  text-decoration: none;
  color: white;
  padding: 20px 37px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top: 1px solid var(--secondary-color);
  text-align: center;
  padding: 2px;
  background-color: var(--background-color);
  color: white;
}

.container-streaming{
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  padding-bottom: 50px;
}

.grid-container{
  background-color: var(--background-color);
  padding: 0 80px;
  padding-bottom:100px;
}

.grid-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.home{
  background-color: var(--background-color);
}

.home-poster, .movie-poster{
    width: 100%;
    height: 500px;
    position: relative;
}

.banner-img--container{
  position: relative;
  display: inline-block;
  width: inherit;
}

.banner-img--container::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, transparent 0%, var(--background-color) 100%);
  pointer-events: none;
}

.banner-img--container img{
  display: block;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 0.3;
}

.banner-description{
  text-align: start;
  margin-bottom: 20px;
  font-size: 24px;
  width: 100%;
}

.home-poster .poster-info-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 35%;
    left: 80px;
    width: 40%;
    height: 20%;
}

.home-poster .poster-info-content .info{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px
}

.info p{
  font-size: 24px;
  font-weight: 400;
  margin: 0 20px
} 

.title, .title h2{
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

.primary-btn{
  color: white;
  background-color: var(--element-color-one);
  border: 1px solid var(--element-color-one);
  width: 135px;
  height: 45px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  padding: 12px 16px;
}

.primary-btn:hover, .primary-btn-active {
  color: white;
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  width: 135px;
  height: 45px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
}

.starts-container{
  font-size: 24px;
  color: white;
  font-weight: 400;
}

.starts-container i{
  color: var(--element-color-one);
  width: 32px;
  height: 32px;
}

.poster-action{
  display: flex;
  justify-content: center;
  
}

.grid-container h2, .detalles-container h2{
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin: 10px 0 20px 0;
}

.grid-content .card-item{
  position: relative;
  height: 350px;
  width: 200px;
  border: none
}

.card-item img{
  height: 300px;
  width: 100%;
}

.card-item, .card-body{
  background-color: var(--background-color);
}

.icon-save-btn{
  font-size: 32px;
  border: none;
  background-color:transparent;
  height: 32px;
  width: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
} 

.icon-save-btn svg path{
  color:var(--element-color-one);
  height: 30px;
  width: 30;
}

.icon-save-btn svg path:hover{
  color:var(--background-color);
}

.icon-save-btn svg:hover{
  height: 29px;
  width: 29px;
  background-color: white;
  border-radius: 4px;
} 

.icon-save-btn svg{
  height: 29px;
  width: 29px;
  background-color: white;
  border-radius: 4px;
} 

.action-container{
  position: absolute;
  bottom: 53px;
  right: 2px; 
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items:center;
  background-color: transparent;
}

.card-text{
  height: 210px;
  margin-bottom: 5px;
}

.card-title{
  height: 48px;
  font-size: 16px;
  font-weight: 500;
}

.card-item .card-body{
  padding-top: 10px;
}

.card-item .card-body .card-title{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.modal{
  color: var(--background-color)
}

.modal-content, .modal-header, .modal-title, .modal-body, form, .modal div, label{
  color: var(--background-color)
}

h4{
  font-weight: 700;
}

.modal-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px
}

.poster-movie{
  width: 50%;
  color: var(--background-color)
}

.poster-movie h3, .poster-movie  p{
  color: var(--background-color)
}

.poster-movie img{
  max-width: 95%;
}

.detalles-container{
  background-color: var(--background-color);
  padding: 0 60px;
  height: 800px;
}

.mis-peliculas-container{
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  padding-bottom: 50px;
  padding-top: 40px
}

.mis-peliculas-container .card-body .card-subtitle{
  margin: 5px 0;
}

.mis-peliculas-container .card-body .card-text{
  height: 20px;
  max-height: 50px;
}

.mis-peliculas-container .card-item .card-body {
  height: 300px;
  border: 1px solid var(--secondary-color);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mis-peliculas-container .card-item .card-img-top{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mis-peliculas-container .card-item  {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 500px;
}

.mis-peliculas-container .card-item img{
  width: 200px;
}

.mis-peliculas-container .card-item .card-body .card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.mis-peliculas-container .card-item .card-body .card-text{
  font-size: 16px;
  margin: 30px 0
}

.mis-peliculas-container .card-item .card-body .card-text:nth-child(3){
  font-size: 16px;
  margin: 20px 0
}

.mis-peliculas-container .card-item .card-body .card-text b{
  margin-right: 190px;
}

.mis-peliculas-container .card-item .card-body .fecha-vencimiento{
  font-size: 18px;
  color: var(--element-color-one);
  font-weight: 700;
  margin: 5px 0
}

.mis-peliculas-container .grid-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  padding-top: 20px;
}

.category{
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 40px;
}

.category > h2, .search > h2{
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 30px;
}

.category .category-container{
  display: grid;
  padding: 10px 60px;
  grid-template-columns: repeat(auto-fit, minmax(82px, 150px)); ;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  gap: 16px;
}

.category-container .primary-btn{
  width: 100%;
  height: 45px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color) ;
}

.category-container .primary-btn:hover, .category-container  .primary-btn-active{
  height: 45px;
  width: 100%;
  border-color: var(--element-color-one);
  background-color: var(--element-color-one);
}

.search{
  background-color: var(--background-color);
  padding-top: 20px;

}

.form-search{
  padding: 0 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  position: relative
}

.form-search .input-search{
  width: 450px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0 10px;
}

.btn-search{
  background-color: var(--background-color);;
  height: 48px;
  width: 50px;
  position: absolute;
  border: none;
  top: 1px;
  left: 850px
}

.btn-search svg{
  color: var(--secondary-color)
}

.btn-search svg:hover{
  color: var(--element-color-one)
}

.btn-search svg path{
  color: inherit;
}

.mis-peliculas-container .card-item .card-body{
  position: relative;
}

.mis-peliculas-container .card-item .card-body .action-container{
  position: absolute;
  bottom: 20px;
  right: 65px; 
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items:center;
  background-color: transparent;
}

.modal-dialog .modal-content{
  background-color: var(--secondary-color);
  color: white;
}

.modal-dialog .modal-content .modal-title, .modal-dialog .modal-content .form-label{
  background-color: var(--secondary-color);
  color: white;
}

.modal-dialog .modal-content .modal-title, .modal-dialog .modal-content .form-control, .modal-dialog .modal-content .modal-title, .modal-dialog .modal-content .form-control::placeholder,
.modal-dialog .modal-content .form-control:active, .modal-dialog .modal-content .form-control:focus
{
  background-color: transparent;
  color: white;
}

.modal-dialog .modal-content form .primary-btn{
  height: 40px;
  width: 120px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto
}

.not-found-page{
  padding-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--secondary-color)
}

.not-found-page svg{
  font-size: 200px;
  margin-bottom: 20px
}

.not-found-page svg path{
  color: var(--secondary-color);
}

.not-found-page h1{
  font-size: 150px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 20px
}

.not-found-page h3{
  color: var(--secondary-color);
}

.poster-info-content > img{
  width: 270px;
  height: 350px;
}

#detalle-container .home-poster .poster-info-content{
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 800px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.poster-info-content .banner-description p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

#detalle-container .home-poster .poster-info-content .poster-action{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
}

#detalle-container .home-poster .poster-info-content .poster-action .primary-btn{
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 130px;
  height: 40px;
}
/* 
@media (max-width: 768px) {
  .home-poster .poster-info-content{
   
    left: 110px;
    width: 100%;
}
} */